@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  /* Mevcut değişkenler */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Senin özel renklerin */
  --color-nav: #18222f;
  --color-page: #2b3441;
  --color-card-hover: #47566a;
  --color-default-text: #f1f3f5;
  --color-blue-accent: #0084d4;
  --color-blue-accent-hover: #009fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  p {
    @apply text-sm text-default-text;
  }

  form {
    @apply rounded-xl p-4;
  }

  label {
    @apply mt-4;
  }
  input,
  select,
  textarea {
    @apply m-1 rounded bg-card-hover p-1;
  }
}

@layer components {
  .icon {
    @apply text-default-text text-xl;
  }

  .btn {
    @apply bg-blue-accent hover:to-blue-accent-hover hover:no-underline tracking-wider w-full text-nav font-bold cursor-pointer uppercase px-4 py-2 rounded-md transition-colors;
  }
}
